
/* VARIABLES */
:root{
    --darkCOLOR: #000;
    --lightCOLOR: whitesmoke;
    --backgroudCOLOR: papayawhip;
    --highlightCOLOR: yellow;

}
/* RESETS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
    
}

body{
    
    font-family: 'Courier New', Courier, monospace;
    background-image: url("/assets/images/pexels-tbee-82256.jpg");
    background-size: cover;
}

img{
    display: block;
}

h1,h2,h3,h4,h5,h6{
    color: var(--darkCOLOR);
    font-weight: 900;
}

a:any-link{
    text-decoration: none;
    color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

a:hover,
a:focus{
    font-weight: 900;
}

img{
    width: 100%;
}
/*END RESETS*/

/* UTILITY */
.section-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.438);

}

.highlight{
    font-weight: bolder;
    color: var(--darkCOLOR);
}

.nowrap{
    white-space: nowrap;
}
/* END UTILITY */

/*NAVIGATION*/
.navbar a span{
    color: var(--lightCOLOR);
    transition: all 0.5s ease;
}
.navbar a span:hover{
    color: var(--highlightCOLOR);
    transform: scale(1.1);
}

.navbar .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active{
    color: yellow;
    letter-spacing: 0.15em;
}




@media screen and (min-width:992px){
    .navbar{
        min-height: 100vh;
        width: 15%;
        background-image: var(--darkCOLOR);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 5px solid gold;
    }

    .navbar-brand img:hover{
        animation: logoRotate 3s ease 0s infinite forwards;
    }
    
    @keyframes logoRotate {
        from{
            transform: rotateY(0deg); 
        }
        to {
        transform: rotateY(360deg);
        }
    }

    .content-container{
        padding-left: 15%;
    }
}

/* END NAVIGATION */

/* BUTTON */
.btn{
    border: 2px solid var(--darkCOLOR);
    font-weight: bold;

}

.btn:hover,
.btn:focus{
    background-color: var(--darkCOLOR);
    color: var(--highlightCOLOR);
}


/* CUSTOM LINK */
.link-custom{
    font-weight: bold;
    position: relative;
}

.link-custom::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    left: 0;
    top: 110%;
    transition: all 0.5s ease;
    background-color: #000;
}

.link-custom:hover::after{
    width: 100%;
}