
/* VARIABLES */
:root{
    --darkCOLOR: #000;
    --lightCOLOR: whitesmoke;
    --backgroudCOLOR: papayawhip;
    --highlightCOLOR: yellow;
}
/* RESETS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media screen and (min-width: 360px) {
    html{
        font-size: larger;
    }
}
@media screen and (min-width: 720px) {
    html{
        font-size: large;
    }
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../assets/images/pexels-tbee-82256.jpg");
    background-size: cover;
    color: var(--darkCOLOR);
}

img{
    display: block;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: var(--darkCOLOR);
    font-weight: 900;
}

a:any-link{
    text-decoration: none;
    color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

a:hover,
a:focus{
    font-weight: 900;
}
/*END RESETS*/

/* UTILITY */
.section-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.438);

}

.highlight{
    font-weight: bolder;
    color: var(--darkCOLOR);
}

.nowrap{
    white-space: nowrap;
}
/* END UTILITY */

/*NAVIGATION*/
.navbar .navbar-toggler-icon:hover,
.navbar .navbar-toggler-icon:focus {
    animation: nav-animation 0.5s ease 0s 1 forwards;
}

@keyframes nav-animation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}




.navbar a span{
    color: var(--lightCOLOR);
    transition: all 0.5s ease;
}
.navbar a span:hover{
    color: var(--highlightCOLOR);
    transform: scale(1.1);
}

.navbar .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active{
    color: yellow;
    letter-spacing: 0.15em;
}

.navbar-brand .siteLogo {
    animation: siteLogo 3s linear 0s infinite;
}

@keyframes siteLogo {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@media screen and (min-width:992px){
    .content-container{
        padding-left: 15%;
    }

    .navbar{
        min-height: 100vh;
        width: 15%;
        background-image: var(--darkCOLOR);
        background-size: cover;
        background-position: center;
    }
    
    .navbar-brand .profilePicture{
        animation: logoRotate 4s ease 5s infinite alternate;
    }
    
    @keyframes logoRotate {
        from{
            transform: rotateY(0deg); 
        }
        to {
            transform: rotateY(180deg);
        }
    }
}

@media screen and (max-width: 992px) {
    #experience,
    #projects,
    #about,
    #contact{
        scroll-margin-block: 58px;
    }

    
}

/* END NAVIGATION */

/* BUTTONS */
#home .btn{
    border: 2px solid var(--darkCOLOR);
    font-weight: bold;
    animation: pulse 0.5s ease 0s infinite alternate forwards;

}

#home .btn:hover,
#home .btn:focus{
    background-color: var(--darkCOLOR);
    color: var(--highlightCOLOR);
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}



/* CUSTOM LINK */
.link-custom{
    font-weight: bold;
    position: relative;
}

.link-custom::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    top: 110%;
    transition: all 0.5s ease;
    background-color: var(--darkCOLOR);
}

.link-custom:hover::after{
    width: 100%;
}

/* EXPERIENCE SECTION */

/* EDUCATION */
#experience .education-section h3{
    position: relative;
}

#experience .education-section h3::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 25%;
    top: 85%;
    transition: all 0.5s ease;
    background-color: var(--darkCOLOR);
}

#experience .education-section h3:hover::after {
    width: 50%;
}

#experience .education-section .box{
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    padding: 0.5em;
    background-image: linear-gradient(rgba(255, 239, 213, 0),papayawhip);
    background-size: cover;
    color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

#experience .education-section .box:hover{
    transform: scale(0.95);
}


/* WORK */

#experience .work-section h3{
    position: relative;
}

#experience .work-section h3::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 35%;
    top: 85%;
    transition: all 0.5s ease;
    background-color: var(--darkCOLOR);
}

#experience .work-section h3:hover::after {
    width: 30%;
}

#experience .work-section .box {
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    padding: 0.5em;
    background-image: linear-gradient(rgba(255, 239, 213, 0),papayawhip);
    background-size: cover;
    color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

#experience .work-section .box:hover{
    transform: scale(0.95);
}

/* END EXPERIENCE SECTION */


/* PROJECT SECTION */
#projects .html-project {
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    background-image: linear-gradient(rgba(255, 166, 0, 0),yellow);
    background-size: contain;
    transition: all 0.5s ease;
}

#projects .html-project figure img{
    border-radius: 1rem;
    min-width: 17rem;
    max-width: 45%;
    height: auto;
}

#projects .css-project {
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    background-image: linear-gradient(rgba(0, 0, 255, 0), lightblue);
    background-size: cover;
    transition: all 0.5s ease;
}

#projects .css-project figure img {
    border-radius: 1rem;
    min-width: 17rem;
    max-width: 50%;
}

#projects .bootstrap-project {
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    background-image: linear-gradient(rgba(0, 0, 128, 0), rgba(2, 0, 128, 0.616), rgba(0, 0, 255, 0.675));
    background-size: cover;
    transition: all 0.5s ease;
}
#projects .bootstrap-project figure img{
    border-radius: 1rem;
    min-width: 17rem;
    max-width: 75%;
}

#projects .html-project:hover,
#projects .html-project:focus,
#projects .css-project:hover,
#projects .css-project:focus,
#projects .bootstrap-project:hover,
#projects .bootstrap-project:focus{
    transform: scale(0.95);
}


/* PROJECT SECTION BUTTONS */
#projects .html-project .btn-group a,
#projects .bootstrap-project .btn-group a,
#projects .css-project .btn-group a{
    border: 2px solid var(--darkCOLOR);
    transition: all 0.5s ease;
}

#projects .html-project .btn-group a:hover,
#projects .html-project .btn-group a:focus,
#projects .bootstrap-project .btn-group a:hover,
#projects .bootstrap-project .btn-group a:focus,
#projects .css-project .btn-group a:hover,
#projects .css-project .btn-group a:focus{
    background-color: var(--darkCOLOR);
    color: var(--highlightCOLOR);
    transform: scale(1.1);
}

/* END PROJECT SECTION */

/* TESTIMONIAL SECTION */
.flip-card {
    background-color: transparent;
    width: 20em;
    height: 25em;
    border-radius: 1.5em;
  }
  .flip-card .flip-card-inner .flip-card-front img,
  .flip-card .flip-card-inner .flip-card-back{
    border-radius: 1.5em;
  }

.flip-card-front img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkCOLOR);
    color: var(--highlightCOLOR);
    transform: rotateY(180deg);
  }

/* END TESTIMONIAL SECTION */

/* ABOUT SECTION */

#about .html-skill{
    background-image: linear-gradient(rgba(255, 166, 0, 0), rgb(255, 111, 0));
    border: 2px solid var(--darkCOLOR);
    border-radius: 1em;
    transition: all 0.5s ease;
}

#about .css-skill {
    background-image: linear-gradient(rgba(173, 216, 230, 0), rgb(0, 140, 255));
    border: 2px solid var(--darkCOLOR);
    border-radius: 1em;
    transition: all 0.5s ease;
}

#about .bootstrap-skill {
    background-image: linear-gradient(rgba(0, 0, 128, 0), navy);
    border: 2px solid var(--darkCOLOR);
    border-radius: 1em;
    transition: all 0.5s ease;
}

#about .javascript-skill {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 55, 0));
    border: 2px solid var(--darkCOLOR);
    border-radius: 1em;
    transition: all 0.5s ease;
}

#about .html-skill:hover,
#about .html-skill:focus,
#about .css-skill:hover,
#about .css-skill:focus,
#about .bootstrap-skill:hover,
#about .bootstrap-skill:focus,
#about .javascript-skill:hover,
#about .javascript-skill:focus{
    transform: scale(0.95);
}

#about .aspirations {
    border: 2px solid var(--darkCOLOR);
    border-radius: 1em;
    background-image: linear-gradient(rgba(255, 239, 213, 0), papayawhip);
    transition: all 0.5s ease;
}

#about .aspirations:hover,
#about .aspirations:focus {
    transform: scale(0.95);
}
/* END ABOUT SECTION */

/* CONTACT SECTION */
#contact .container .btn-group a{
    transition: all 0.5s ease;
}


#contact .container .btn-group a:hover {
background-color: var(--darkCOLOR);
color: var(--highlightCOLOR);
transform: scale(1.15);
}

#contact .modelBtn {
    background-color: var(--darkCOLOR);
    color: var(--lightCOLOR);
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    transition: all  0.5s ease;
}

#contact .modelBtn:hover,
#contact .modelBtn:focus{
    color: var(--highlightCOLOR);
    transform: scale(1.15);
    font-weight: bold;
}

/* END CONTACT SECTION */

/* FOOTER */
#footer .backHome {
    color: var(--lightCOLOR);
    border: 2px solid var(--darkCOLOR);
    border-radius: 1rem;
    background-color: var(--darkCOLOR);
    transition: all 0.5s ease;
}

#footer .backHome:hover,
#footer .backHome:focus {
    color: var(--highlightCOLOR);
    transform: scale(1.15);
}
/* END FOOTER */